body {
    background-color: #DCD7C9;
    margin: 0;
    font-family: 'Cabin', sans-serif;
    color: #252d30;
    font-size: calc(12px + 0.390625vw);
}

header {
    width: 100%;
    height: 95svh;
    background-image: url(/photos/09-night.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    row-gap: 20%;
}

.header-small {
    height: 11rem;
    background-position: top center;
}

.top-header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10%;
    height: 20svh;
}

.logo {
    width: 100%;
    max-width: 350px;
    margin: 5px 5px 5px 25px;
}

.logo_div {
    width: 20%;
    max-width: 350px;
}

nav {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 5px;
}

li {
    list-style: none;
    cursor: pointer;
    color: #DCD7C9;
}

a {
    color: #DCD7C9;
    text-decoration: none;
    font-size: calc(14px + 0.390625vw);
}

nav>li {
    font-size: calc(14px + 0.390625vw);
    font-weight: 400;
    line-height: 120%;
}

nav>li:hover {
    color: white;
}

form {
    align-self: center;
    max-width: 60%;
    min-width: 600px;
    display: grid;
    grid-template-columns: repeat(3, 12vw) 100px;
    grid-auto-rows: auto;
    gap: 10%;
}

label {
    color: white;
    font-size: calc(10px + 0.390625vw);
    font-weight: 400;
    line-height: 1.3;
    grid-row: 1;
}

input {
    height: 35px;
    min-width: 120px;
    font-family: 'Cabin', sans-serif;
    font-size: calc(10px + 0.390625vw);
    font-weight: 400;
    line-height: 1.3;
    color: #252d30;
    grid-row: 2;
}

input[type=submit] {
    width: 100px;
    cursor: pointer;
    background-color: rgba(97, 93, 93, 0.4);
    border: 1.5px rgb(240, 240, 240) solid;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.6);
    transition-duration: 0.4s;
    color: white;
}

input[type=submit]:hover {
    background-color: rgb(240, 240, 240);
    color: #252d30;
}


main {
    max-width: 87rem;
    min-height: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-inline: auto;
}

h1 {
    line-height: 1.5;
    font-weight: 500;
    color: #3F4E4F;
    margin: 3rem 0 2rem 0;
}

.homepage-span {
    color: #A27B5C;
    font-weight: 700;
}

p {
    margin: 0;
}

main>p {
    font-weight: 300;
    line-height: 2;
    padding: 3rem 10% 0 10%;
}

main button {
    background-color: #A27B5C;
    color: white;
    font-family: 'Cabin', sans-serif;
    font-size: calc(10px + 0.390625vw);
    border: none;
    box-shadow: 0 2px 6px rgba(83, 81, 81, 0.6);
    padding: 15px 32px;
    margin: 3rem;
    cursor: pointer;
    transition-duration: 0.4s;
}

main button:hover {
    border: 1px solid #A27B5C;
    background-color: #DCD7C9;
    color: #2C3639;
}

button>a:hover {
    color: #2C3639;
}

button>a {
    font-size: calc(10px + 0.390625vw);
}

footer {
    width: 100%;
    height: 18rem;
    min-height: 250px;
    background-color: #2C3639;
    color: #DCD7C9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 70%;
    display: grid;
    grid-template: 30px 1fr / 1fr 1fr 1fr;
    gap: 15px;
    justify-items: left;
    align-items: center;
}

address {
    font-style: normal;
    color: #DCD7C9;
}

address>p {
    color: #DCD7C9;
    font-size: calc(10px + 0.390625vw);
    margin-bottom: 16px;
}

p>a {
    font-size: calc(10px + 0.390625vw);
    text-decoration: none;
}

.footer-h2 {
    margin: 0;
}

.container>h2:nth-child(2) {
    justify-self: center;
}

.container>ul {
    justify-self: center;
    list-style: none;
    padding: 0;
    font-size: calc(10px + 0.390625vw);
}

ul>li {
    margin-bottom: 16px;
}

.social-media {
    width: 30%;
    min-width: 100px;
    justify-self: right;
    display: flex;
    justify-content: space-between;
}

.container>h2:nth-child(3) {
    justify-self: right;
}

svg {
    fill: white;
    width: 32px;
    height: 32px;
}

.wrapper {
    max-width: 86rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: max-content;
    gap: 30px;
    margin-top: 1rem;
}

.about {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    min-height: 98svh;
    background-image: url(photos/02-day.jpg);
    background-size: cover;
    background-position: center;
}

h3 {
    color: #2C3639;
    margin-top: 0;
}

.underlay {
    width: 35%;
    padding: 2rem;
    background-color: rgba(220, 215, 201, 0.9);
    box-shadow: #3F4E4F 1px 1px 6px;
    text-align: left;
    position: relative;
    bottom: 5%;
    left: 15%;
}

.two {
    background-image: url(photos/01-day.jpg);
}

.three {
    background-image: url(photos/05-day.jpg);
}

.four {
    background-image: url(photos/03-day.jpg);
}

.five {
    background-image: url(photos/04-day.jpg);
}

.search-h2 {
    text-align: left;
    margin-top: 3rem;
}

.search {
    margin-bottom: 5rem;
}

.room {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    gap: 2rem;
    text-align: left;
    background-color: #e9e7e1;
    padding: 2rem 2rem;
    box-shadow: #a1a1a1 1px 1px 6px;
}

.info-line {
    flex-basis: 25%;
}

.info-line span {
    color: #252d30;
    font-size: calc(10px + 0.390625vw);
    line-height: 1.2;
    margin-inline: 0;
}

.green span {
    color: darkgreen;
    margin-bottom: 1rem;
}

.normal span {
    font-size: 0.9rem;
}

.bold span {
    font-weight: 700;
    margin-top: 0.5rem;
}

.booking {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 2rem;
}

.summary {
    font-size: 1rem;
}

.price {
    font-size: calc(14px + 0.390625vw);
    font-weight: 700;
}

.booking>button {
    max-width: 12rem;
    min-width: 9rem;
    margin: 0.5rem 0.1rem;
}

/*start of img carousel
/////
//////*/

.carousel {
    width: 25rem;
    height: 13rem;
    overflow: hidden;
    text-align: center;
    position: relative;
    padding: 0;
    list-style: none;

}

.carousel__controls,
.carousel__activator {
    display: none;
}

.carousel__activator:nth-of-type(1):checked~.carousel__track {
    transform: translateX(0%);
}

.carousel__activator:nth-of-type(1):checked~.carousel__slide:nth-of-type(1) {
    transition: opacity 0.5s, transform 0.5s;
    top: 0;
    left: 0;
    right: 0;
    opacity: 1;
    transform: scale(1);
}

.carousel__activator:nth-of-type(1):checked~.carousel__controls:nth-of-type(1) {
    display: block;
    opacity: 1;
}

.carousel__activator:nth-of-type(1):checked~.carousel__indicators .carousel__indicator:nth-of-type(1) {
    opacity: 1;
}

.carousel__activator:nth-of-type(2):checked~.carousel__track {
    transform: translateX(-100%);
}

.carousel__activator:nth-of-type(2):checked~.carousel__slide:nth-of-type(2) {
    transition: opacity 0.5s, transform 0.5s;
    top: 0;
    left: 0;
    right: 0;
    opacity: 1;
    transform: scale(1);
}

.carousel__activator:nth-of-type(2):checked~.carousel__controls:nth-of-type(2) {
    display: block;
    opacity: 1;
}

.carousel__activator:nth-of-type(2):checked~.carousel__indicators .carousel__indicator:nth-of-type(2) {
    opacity: 1;
}

.carousel__activator:nth-of-type(3):checked~.carousel__track {
    transform: translateX(-200%);
}

.carousel__activator:nth-of-type(3):checked~.carousel__slide:nth-of-type(3) {
    transition: opacity 0.5s, transform 0.5s;
    top: 0;
    left: 0;
    right: 0;
    opacity: 1;
    transform: scale(1);
}

.carousel__activator:nth-of-type(3):checked~.carousel__controls:nth-of-type(3) {
    display: block;
    opacity: 1;
}

.carousel__activator:nth-of-type(3):checked~.carousel__indicators .carousel__indicator:nth-of-type(3) {
    opacity: 1;
}

.carousel__activator:nth-of-type(4):checked~.carousel__track {
    transform: translateX(-300%);
}

.carousel__activator:nth-of-type(4):checked~.carousel__slide:nth-of-type(4) {
    transition: opacity 0.5s, transform 0.5s;
    top: 0;
    left: 0;
    right: 0;
    opacity: 1;
    transform: scale(1);
}

.carousel__activator:nth-of-type(4):checked~.carousel__controls:nth-of-type(4) {
    display: block;
    opacity: 1;
}

.carousel__activator:nth-of-type(4):checked~.carousel__indicators .carousel__indicator:nth-of-type(4) {
    opacity: 1;
}

.carousel__activator:nth-of-type(5):checked~.carousel__track {
    transform: translateX(-400%);
}

.carousel__activator:nth-of-type(5):checked~.carousel__slide:nth-of-type(5) {
    transition: opacity 0.5s, transform 0.5s;
    top: 0;
    left: 0;
    right: 0;
    opacity: 1;
    transform: scale(1);
}

.carousel__activator:nth-of-type(5):checked~.carousel__controls:nth-of-type(5) {
    display: block;
    opacity: 1;
}

.carousel__activator:nth-of-type(5):checked~.carousel__indicators .carousel__indicator:nth-of-type(5) {
    opacity: 1;
}

.carousel__control {
    height: 30px;
    width: 30px;
    margin-top: -15px;
    top: 50%;
    position: absolute;
    display: block;
    cursor: pointer;
    border-width: 5px 5px 0 0;
    border-style: solid;
    border-color: white;
    opacity: 0.7;
    outline: 0;
    z-index: 3;
}

.carousel__control:hover {
    opacity: 1;
}

.carousel__control--backward {
    left: 10px;
    transform: rotate(-135deg);
}

.carousel__control--forward {
    right: 10px;
    transform: rotate(45deg);
}

.carousel__indicators {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
}

.carousel__indicator {
    height: 15px;
    width: 15px;
    border-radius: 100%;
    display: inline-block;
    z-index: 2;
    cursor: pointer;
    opacity: 0.35;
    margin: 0 2.5px 0 2.5px;
}

.carousel__indicator:hover {
    opacity: 0.75;
}

.carousel__track {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 0;
    margin: 0;
    transition: transform 0.5s ease 0s;
}

.carousel__track .carousel__slide {
    display: block;
    top: 0;
    left: 0;
    right: 0;
    opacity: 1;
}

.carousel__track .carousel__slide:nth-of-type(1) {
    transform: translateX(0%);
}

.carousel__track .carousel__slide:nth-of-type(2) {
    transform: translateX(100%);
}

.carousel__track .carousel__slide:nth-of-type(3) {
    transform: translateX(200%);
}

.carousel__track .carousel__slide:nth-of-type(4) {
    transform: translateX(300%);
}

.carousel__track .carousel__slide:nth-of-type(5) {
    transform: translateX(400%);
}

.carousel--scale .carousel__slide {
    transform: scale(0);
}

.carousel__slide {
    height: 100%;
    position: absolute;
    overflow-y: auto;
    opacity: 0;
}

.carousel-container {
    display: inline-block;
}

.my-carousel {
    border-radius: 5px;
}

.carousel__slide {
    overflow: hidden;
}

.carousel__slide:nth-of-type(1) {
    background-image: url(photos/04-day.jpg);
    background-size: cover;
    background-position: center;
}

.carousel__slide:nth-of-type(2) {
    background-image: url(photos/06-day.jpg);
    background-size: cover;
    background-position: center;
}

.carousel__slide:nth-of-type(3) {
    background-image: url(photos/05-day.jpg);
    background-size: cover;
    background-position: center;
}

.carousel__slide:nth-of-type(4) {
    background-image: url(photos/07-day.jpg);
    background-size: cover;
    background-position: center;
}

.carousel__slide:nth-of-type(5) {
    background-image: url(photos/08-day.jpg);
    background-size: cover;
    background-position: center;
}

/*end of img carousel
/////
//////*/

sup {
    margin: 0;
}
