:root {
    margin: 0;
    font-family: 'Cabin', sans-serif;
}

body {
    background-color: #DCD7C9;
    margin: 0;
}

header {
    width: 100%;
    min-width: 600px;
    height: 95lvh;
    background-image: url(/photos/09-night.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    row-gap: 20%;
}

.top-header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10%;
    width: 100%;
    height: 20lvh;
}


.logo {
    width: 20%;
    max-width: 350px;
    margin: 5px 5px 5px 25px;
}

nav {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 5px;
}

li {
    list-style: none;
    cursor: pointer;
    color:#DCD7C9;
}

nav>li {
    font-size: calc(14px + 0.390625vw);
    font-weight: 400;
    line-height: 120%;
}

nav>li:hover {
    color: white;
}

form {
    align-self: center;
    max-width: 60%;
    min-width: 600px;
    display: grid;
    grid-template-columns: repeat(3, 12vw) 100px;
    grid-auto-rows: auto;
    gap: 10%;
}

label {
    color: white;
    font-size: calc(10px + 0.390625vw);
    font-weight: 400;
    line-height: 130%;
    grid-row: 1;
}

input {
    height: 35px;
    min-width: 120px;
    font-family: 'Cabin', sans-serif;
    font-size: calc(10px + 0.390625vw);
    font-weight: 400;
    line-height: 130%;
    color: #252d30;
    grid-row: 2;
}

input[type=submit] {
    width: 100px;
    cursor: pointer;
    background-color: rgba(97, 93, 93, 0.4); 
    border: 1.5px rgb(240,240,240) solid;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.6); 
    transition-duration: 0.4s;
    color: white;
}

input[type=submit]:hover {
    background-color: rgb(240,240,240);
    color: #252d30;
}


main {
    width: 80%;
    min-width: 500px;
    height: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 5% 10%;
}

h1 {
    line-height: 150%;
    font-weight: 500;
    color: #3F4E4F;
    margin: 0;
}

span {
    color: #A27B5C;
    font-weight: 700;
}

main>p {
    color: #2C3639;
    font-size: calc(12px + 0.390625vw);
    font-weight: 300;
    line-height: 150%;
    padding: 3% 10%;
}

main>button {
    background-color: #A27B5C;
    color: white;
    font-family: 'Cabin', sans-serif;
    font-size: calc(10px + 0.390625vw);
    border: none;
    box-shadow: 0 2px 6px rgba(83, 81, 81, 0.6); 
    padding: 15px 32px;
    cursor: pointer;
    transition-duration: 0.4s;
}

main>button:hover {
    border: 1px solid #A27B5C;
    background-color: #DCD7C9;
}

button>a:hover {
    color: #2C3639;
}

button>a {
    color: white;
    font-family: 'Cabin', sans-serif;
    font-size: calc(10px + 0.390625vw);
    text-decoration: none;
}

footer {
    width: 100%;
    height: 15%;
    min-height: 250px;
    background-color: #2C3639;
    color: #DCD7C9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 70%;
    min-width: 500px;
    display: grid;
    grid-template: 30px 1fr / 1fr 1fr 1fr;
    gap: 10px;
    justify-items: left;
    align-items: center;
}

address {
    font-style: normal;
}

p>a {
    font-size: calc(10px + 0.390625vw);
    color: #DCD7C9;
    text-decoration: none;
}

.footer-2 {
    margin: 0;
}

.container>h2:nth-child(2) {
    justify-self: center;
}

.container>ul {
    justify-self: center;
    list-style: none;
    padding: 0;
    font-size: calc(10px + 0.390625vw);
}

ul>li {
    margin-bottom: 16px;
}

.social-media {
    width: 30%;
    min-width: 100px;
    justify-self: right;
    display: flex;
    justify-content: space-between;
}

.container>h2:nth-child(3) {
    justify-self: right;
}

svg {
    fill: white;
    width: 32px;
    height: 32px;
}